.route-form {
    min-width: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.route-form .description {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.route-form .name-action {
    display: flex;
    flex-direction: row;
}

.name-action input {
    flex : 3;
}

.name-action select {
    flex : 1;
}

.route-form .f-route-name,.route-method {
    color: #6292ff;
}

.route-form .json-editor svg {
    display: none;
}

.route-form .row-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.route-form .row-btn .cancel-btn {
    color : red;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 20px;
}