.table-list {
    margin-bottom: 50px;
    min-width: 350px;
    width: 50%;
}

.table-list thead tr th {
    text-align: left;
}

.table-list tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.table-list tbody tr:hover {
    background-color: #d7d7ff;
}

.table-list tbody tr {
    cursor: pointer;
}

.no-routes {
    margin-bottom: 50px;
}