body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color :#393e46;
	background-color: #f1f1f1;
}


input,select {
	padding:10px;
    border: 1px solid #e5e4e4;
    border-radius: 4px;
	margin-bottom: 5px;
	flex:1
}

button {
	cursor: pointer;
	padding: 12px;
    color: white;
    margin-top: 20px;
    border: unset;
}

button.secondary {
    background-color: #393E46;
}

button.danger {
    background-color: #d55050;
}

button:disabled {
	opacity: .5;
}

.text-center {
	text-align: center;
}

html {
	scroll-behavior: smooth;
}